@charset "UTF-8";
.stop {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #000000) );
	background:-moz-linear-gradient( center top, #454545 5%, #000000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#000000');
	background-color:#454545;
	-webkit-border-top-left-radius:24px;
	-moz-border-radius-topleft:24px;
	border-top-left-radius:24px;
	-webkit-border-top-right-radius:24px;
	-moz-border-radius-topright:24px;
	border-top-right-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	-moz-border-radius-bottomright:24px;
	border-bottom-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-moz-border-radius-bottomleft:24px;
	border-bottom-left-radius:24px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:58px;
	text-decoration:none;
	text-align:center;
}
.com {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56bafc), color-stop(1, #56bafc) );
	background:-moz-linear-gradient( center top, #56bafc 5%, #56bafc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#56bafc', endColorstr='#56bafc');
	background-color:#56bafc;
	-webkit-border-top-left-radius:24px;
	-moz-border-radius-topleft:24px;
	border-top-left-radius:24px;
	-webkit-border-top-right-radius:24px;
	-moz-border-radius-topright:24px;
	border-top-right-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	-moz-border-radius-bottomright:24px;
	border-bottom-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-moz-border-radius-bottomleft:24px;
	border-bottom-left-radius:24px;
	text-indent:0;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:58px;
	text-decoration:none;
	text-align:center;
}
.ing {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6aeb6a), color-stop(1, #6aeb6a) );
	background:-moz-linear-gradient( center top, #6aeb6a 5%, #6aeb6a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6aeb6a', endColorstr='#6aeb6a');
	background-color:#6aeb6a;
	-webkit-border-top-left-radius:24px;
	-moz-border-radius-topleft:24px;
	border-top-left-radius:24px;
	-webkit-border-top-right-radius:24px;
	-moz-border-radius-topright:24px;
	border-top-right-radius:24px;
	-webkit-border-bottom-right-radius:24px;
	-moz-border-radius-bottomright:24px;
	border-bottom-right-radius:24px;
	-webkit-border-bottom-left-radius:24px;
	-moz-border-radius-bottomleft:24px;
	border-bottom-left-radius:24px;
	text-indent:0;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:25px;
	line-height:25px;
	width:58px;
	text-decoration:none;
	text-align:center;
}